:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;
    --app-background-color: #4d4d62;
    --background-color: #1b1b32;
    --foreground-color: #3b3b4f;
    --highlight-color: #f1be32;
  
    /* font sizes */
    --root-font-size: 30px;
    font-size: var(--root-font-size);
  
    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--font-headline);
    margin-top: 100px;
    /* margin: 50px, auto, 0px; */
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  
  .title {
    text-align: center;
    margin: 0px auto;
    font-size: 36;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--foreground-color);
    border: solid var(--primary-color) 4px;
    width: 453px;
    margin: 0px auto;
    padding: 18px;
    
  }
  
  .hidden {
    display: none;
  }
  #prompt {
    text-align: center;
    margin: 0px;
  }
  
  input {
    font-size: var(--root-font-size);
  }
  
  button {
    background-color: var(--highlight-color);
    border: solid var(--primary-color) 3px;
    color: var(--background-color);
    cursor: pointer;
    font-size: 20px;
    outline-color: var(--highlight-color);
    text-align: center;
    padding: 8;
  }
  
  #output {
    text-align: center;
  }
  