{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cash Register Project</title>
  <link type ="text/css" rel="stylesheet" href="{% static 'portfolio/fcc-javascript/cash-register.css' %}" />
</head>

<body>
  <h1>Cash Register</h1>
  <p><strong>Customer Total: </strong><span id="customer-total"></span></p>
  <p><strong>Change Due</strong></p>
  <p><div id="change-due"></div></p>

  <input id="cash" /><br>
  <button id="purchase-btn">Purchase</button>

  <script src="{% static 'portfolio/fcc-javascript/cash-register.js' %}"></script>
</body>

</html>