{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon Search App</title>
    <link type ="text/css" rel="stylesheet" href="{% static 'portfolio/fcc-javascript/pokemon-search-app.css' %}" />
  </head>
  <body>
    <main>
      <input id="search-input" required />
      <button id="search-button">Search</button>
      <div id="output">
        <div id="no-results">
          <p>No Results Found</p>
        </div>
        <div id="general-info">
          <h3>General Info</h3>
          <p>Name: <span id="pokemon-name"></span></p>
          <p>ID: <span id="pokemon-id"></span></p>
          <p>Weight: <span id="weight"></span></p>
          <p>Height: <span id="height"></span></p>
        </div>
        <div id="images"></div>
        <div id="type-section">
          <h3>Types</h3>
          <div id="types"></div>
        </div>

        <div id="stat-section">
          <h3>Stats</h3>
          <p>HP: <span id="hp"></span></p>
          <p>Attack: <span id="attack"></span></p>
          <p>Defense: <span id="defense"></span></p>
          <p>Special Attack: <span id="special-attack"></span></p>
          <p>Special Defense: <span id="special-defense"></span></p>
          <p>Speed: <span id="speed"></span></p>
        </div>
      </div>
    </main>
    <script src="{% static 'portfolio/fcc-javascript/pokemon-search-app.js' %}"></script>
  </body>
</html>