{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type ="text/css" rel="stylesheet" href="{% static 'portfolio/fcc-javascript/roman-numeral-converter.css' %}" />
  </head>
  <body>
    <div>
      <p class="title">Roman</p>
      <p class="title">Numeral</p>
      <p class="title">Generator</p>
    </div>
    <div class="container">
      <p id="prompt">Enter a Number:</p>
      <input id="number" />
      <button id="convert-btn">Generate</button>
    </div>
    <div id="output" class="container hidden"></div>
    <script src="{% static 'portfolio/fcc-javascript/roman-numeral-converter.js' %}"></script>
  </body>
</html>